01/Service References/DBHelper/DBHelper1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="YExecuteSql">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="starttime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endtime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="YExecuteSqlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="YExecuteSqlResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="YExecuteHis">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="starttime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endtime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="sim" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="YExecuteHisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="YExecuteHisResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="YExecuteDBExits">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="monthtime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="YExecuteDBExitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="YExecuteDBExitsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="YExecuteReportSql">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="starttime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endtime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isGeo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="YExecuteReportSqlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="YExecuteReportSqlResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BexecuteProc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="procName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BexecuteProcResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BexecuteProcResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BexecuteProcNoPara">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="procName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BexecuteProcNoParaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BexecuteProcNoParaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BexecuteProcWithBackPara">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="procName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BexecuteProcWithBackParaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BexecuteProcWithBackParaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BInsertTransDetailProc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="procName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlStr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BInsertTransDetailProcResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BInsertTransDetailProcResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="testGetTableProc">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="testGetTableProcResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="testGetTableProcResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BexcuteSql">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BexcuteSqlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BexcuteSqlResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BgetAllVehicleWithRight">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BgetAllVehicleWithRightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BgetAllVehicleWithRightResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BgetTreeVehicleWithRight">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BgetTreeVehicleWithRightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BgetTreeVehicleWithRightResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BInsertIntoMsgGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GroupNum_In" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="GroupName_In" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="GroupFounder_In" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FMemo_In" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BInsertIntoMsgGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BInsertIntoMsgGroupResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GgpsTranslate2Baidu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lng" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lat" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="flag" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GgpsTranslate2BaiduResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GgpsTranslate2BaiduResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GgpsTranslate2BaiduPoi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lng" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GgpsTranslate2BaiduPoiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GgpsTranslate2BaiduPoiResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>